<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Certificate</title>
</head>
<body>
    <h1>Certificate for @Model.Name @Model.Surname</h1>
    <p>Course: @Model.CourseName</p>
    <p>Date: @Model.CompletionDate</p>
</body>
</html>